table{
    width: 100%;
    color: #192541;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
}

th{
    background-color: #192541;
    color: white;
    
}

tr:nth-child(even) {background-color: #ededed;}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

html{
	font-size: 14px;
}

body{
	background-color: white;
	margin: 0;
	display: grid;
	font-family: Arial;
	font-size: 17px;
}










header{
	top: 0;
	left: 0;
	background: #192541;
	width: 100%;
	box-sizing: border-box;
}

.logo{
	position: absolute;
	top: 1.5%;
	cursor: pointer;
	padding: 0 30px;
	
}

header nav {
	float: right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	font-family: 'optima', sans-serif;
}

header nav ul li {
	list-style: none;
}

header nav ul li a{
	font-size: 18px;
	height: 70px;
	line-height: 70px;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	display: block;
	
}

header nav ul li a:hover{
	color: #192541;
	background: white ;
	
}

.line{
	display: inline;
	margin: 0;
	padding: 0;
	display: flex;
	padding: 0 2rem;
	background-color: tomato;
}

.line :hover{
	background: none;
	color: white;
	font-size: 25px;
	transition: 0.7s;
}



